@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --dark-bg-start-rgb: 17, 24, 39; /* Dark gray (bg-gray-900) */
  --dark-bg-end-rgb: 17, 24, 39; /* Dark gray (bg-gray-900) */
  --dark-foreground-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: var(--dark-foreground-rgb);
    --background-start-rgb: var(--dark-bg-start-rgb);
    --background-end-rgb: var(--dark-bg-end-rgb);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb)); /* Solid background color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
